![]()

### PALMER PENGUINS

Este conjunto de datos contiene información sobre tres especies de pingÜinos que habitan en la isla Palmer.

## Librerías

In [1]:
#tratamiento de datos
import numpy as np
import pandas as pd
#para graficos
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
#Estadisticas
import scipy

## Carga de datos

In [4]:
df=pd.read_csv('/Users/isaromobru/Desktop/DS102024_/2-DataAnalysis/10-EDA/penguins.csv')

## Tratamiento de los datos

In [12]:
df.head()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

In [5]:
df.tail()

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [8]:
df.info

<bound method DataFrame.info of      rowid    species     island  bill_length_mm  bill_depth_mm  \
0        1     Adelie  Torgersen            39.1           18.7
1        2     Adelie  Torgersen            39.5           17.4
2        3     Adelie  Torgersen            40.3           18.0
3        4     Adelie  Torgersen             NaN            NaN
4        5     Adelie  Torgersen            36.7           19.3
..     ...        ...        ...             ...            ...
339    340  Chinstrap      Dream            55.8           19.8
340    341  Chinstrap      Dream            43.5           18.1
341    342  Chinstrap      Dream            49.6           18.2
342    343  Chinstrap      Dream            50.8           19.0
343    344  Chinstrap      Dream            50.2           18.7

     flipper_length_mm  body_mass_g     sex  year
0                181.0       3750.0    male  2007
1                186.0       3800.0  female  2007
2                195.0       3250.0  female  2007
3                  NaN          NaN     NaN  2007
4                193.0       3450.0  female  2007
..                 ...          ...     ...   ...
339              207.0       4000.0    male  2009
340              202.0       3400.0  female  2009
341              193.0       3775.0    male  2009
342              210.0       4100.0    male  2009
343              198.0       3775.0  female  2009

[344 rows x 9 columns]>

In [6]:
df.shape

(344, 9)

In [11]:
df.isnull().sum()

rowid                 0
species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [15]:
df.describe(include='all')

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
count,344.000000,344,344,342.000000,342.000000,342.000000,342.000000,333,344.000000
unique,NaN,3,3,NaN,NaN,NaN,NaN,2,NaN
top,NaN,Adelie,Biscoe,NaN,NaN,NaN,NaN,male,NaN
freq,NaN,152,168,NaN,NaN,NaN,NaN,168,NaN
mean,172.500000,NaN,NaN,43.921930,17.151170,200.915205,4201.754386,NaN,2008.029070
std,99.448479,NaN,NaN,5.459584,1.974793,14.061714,801.954536,NaN,0.818356
min,1.000000,NaN,NaN,32.100000,13.100000,172.000000,2700.000000,NaN,2007.000000
25%,86.750000,NaN,NaN,39.225000,15.600000,190.000000,3550.000000,NaN,2007.000000
50%,172.500000,NaN,NaN,44.450000,17.300000,197.000000,4050.000000,NaN,2008.000000
75%,258.250000,NaN,NaN,48.500000,18.700000,213.000000,4750.000000,NaN,2009.000000
max,344.000000,NaN,NaN,59.600000,21.500000,231.000000,6300.000000,NaN,2009.000000

In [17]:

print(df['species'].unique())
print(df['island'].unique())
print(df['sex'].unique())

['Adelie' 'Gentoo' 'Chinstrap']
['Torgersen' 'Biscoe' 'Dream']
['male' 'female' nan]

### Conclusiones

Se puede observar que los datos están compuestos por 344 filas y 9 columnas de las cuales `rowid`carece de importancia ya que es un índice.

Las otras columnas son: 
|Variable|Descripción|
|---|---|
|Especie (species)| Adelie, Chinstrap, Gentoo.|
|Isla (island)| Biscoe, Dream, Torgersen.|
|Longitud del pico (bill_length_mm)| medida en milímetros.|
|Profundidad del pico (bill_depth_mm)| medida en milímetros.|
|Longitud de la aleta (flipper_length_mm)| medida en milímetros.|
|Masa corporal (body_mass_g)| medida en gramos.|
|Género (sex)| Macho o Hembra.|
|Año (year)| Año en que se recolectaron los datos.|

## Análisis Exploratorio de datos (EDA)

### Análisis Univariado

In [20]:
#hacer las funciones para el analisis univariante: 
#creaty_summary_table(cardinalidad,valores faltantes,)