# Analisis de datos sobre IRIS 
![]()

Estos conjuntos de datos consisten en 3 tipos diferentes de iris Setosa,Versicolor y Virginica) con longitud de pétalos y sépalos.

el conjunto de datos de la flor Iris o conjunto de datos del iris de Fisher es un conjunto de datos multivariante utilizado y hecho famoso por el estadisitico y biologo britanico ROnald Fischer en su articulo de 1936.
El uso de mediciones multiples en problemas taxonómicos como ejemplo discriminante lineal

|Nombre Variable| Rol|Tipo| Descripción| Unidades| Missing|
|---|---|---|---|---|---|
|Sepal lenght| Feature|  Continua|   longitud del sépalo| cm| no|
|Sepal width|  Feature|  Continua|  anchura del sépalo | cm| no|
|petal length| Feature|  Continua|  longitud del sépalo |cm| no|
|petal width| Feature| Continua|  anchura del sépalo|cm| no|
|class      | Target| Categorica| Clase iris: Iris setosa,Iris Versicolour o Iris Virginica|0,1,2|no|

## Preparación y caga de datos

### Librerías

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.datasets import load_iris

In [6]:
data=load_iris()
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [15]:
variables= pd.DataFrame(data['data'],columns=data['feature_names']) # data era una matriz y feature names era un array y los junta para crear un dataframe 
variables.head(2)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2

In [17]:
#queremos unirlo a frame asi que hay que crear una columna llenandolo con target 
variables['clase']= data['target']
variables.head(2)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),clase
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0

In [28]:
#queremos cambiar los nombres de 0 1 2 a el nombre del tipo de planta
data['target_names']
variables['clase'].replace({0:'setosa',1:'versicolor',2:'virginica'},inplace=True)
variables
# si tenemos muchisimos valores es mejor utilizar zip()
#zip(range(len(data)['target_names'])),data['target_names']
variables.to_parquet('iris.parquet',index=False) #para guardar los datos ya con las variables colocadas

In [27]:
df=pd.read_parquet('iris.parquet') #cargarmos en dataframe y lo asignamos a una nueva variable

### Verificación inicial

In [30]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),clase
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   clase              150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

se observa que no presenta

In [ ]:
df