In [1]:
import numpy as np
import pandas as pd

In [4]:
g=pd.read_csv('/Users/isaromobru/Desktop/DS102024_/eda/UK Gender Pay Gap Data_05_06.csv')

In [6]:
g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10332 entries, 0 to 10331
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   EmployerName               10332 non-null  object
 1   Address                    10332 non-null  object
 2   CompanyNumber              8993 non-null   object
 3   SicCodes                   9763 non-null   object
 4   DiffMeanHourlyPercent      10332 non-null  float64
 5   DiffMedianHourlyPercent    10332 non-null  float64
 6   DiffMeanBonusPercent       10332 non-null  float64
 7   DiffMedianBonusPercent     10332 non-null  float64
 8   MaleBonusPercent           10332 non-null  float64
 9   FemaleBonusPercent         10332 non-null  float64
 10  MaleLowerQuartile          10332 non-null  float64
 11  FemaleLowerQuartile        10332 non-null  float64
 12  MaleLowerMiddleQuartile    10332 non-null  float64
 13  FemaleLowerMiddleQuartile  10332 non-null  float64
 14  MaleUpperMiddleQuartile    10332 non-null  float64
 15  FemaleUpperMiddleQuartile  10332 non-null  float64
 16  MaleTopQuartile            10332 non-null  float64
 17  FemaleTopQuartile          10332 non-null  float64
 18  CompanyLinkToGPGInfo       7651 non-null   object
 19  ResponsiblePerson          8663 non-null   object
 20  EmployerSize               10332 non-null  object
 21  CurrentName                10332 non-null  object
 22  SubmittedAfterTheDeadline  10332 non-null  bool
dtypes: bool(1), float64(14), object(8)
memory usage: 1.7+ MB

In [7]:
g.describe()

,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,MaleLowerQuartile,FemaleLowerQuartile,MaleLowerMiddleQuartile,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile
count,10332.000000,10332.000000,10332.000000,10332.000000,10332.000000,10332.000000,10332.000000,10332.000000,10332.000000,10332.000000,10332.000000,10332.000000,10332.000000,10332.000000
mean,14.372580,11.864160,7.520887,-20.189111,35.607472,34.127216,46.393796,53.606204,50.594880,49.405120,54.919841,45.080159,60.833856,39.166144
std,15.095341,15.714352,842.091667,1413.543525,36.353912,36.068136,24.125626,24.125626,26.081939,26.081939,26.199763,26.199763,24.375394,24.375394
min,-400.000000,-164.000000,-82000.000000,-120695.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.100000,0.700000,0.000000,0.000000,0.900000,0.375000,27.000000,35.600000,29.600000,27.500000,34.000000,21.400000,41.600000,17.175000
50%,13.400000,9.400000,22.300000,5.300000,20.000000,17.800000,44.400000,55.600000,48.400000,51.600000,54.000000,46.000000,62.700000,37.300000
75%,23.000000,21.000000,53.000000,38.000000,73.400000,70.400000,64.400000,73.000000,72.500000,70.400000,78.600000,66.000000,82.825000,58.400000
max,159.000000,121.200000,3848.200000,5566.700000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000

In [10]:
g.isna().sum()

EmployerName                    0
Address                         0
CompanyNumber                1339
SicCodes                      569
DiffMeanHourlyPercent           0
DiffMedianHourlyPercent         0
DiffMeanBonusPercent            0
DiffMedianBonusPercent          0
MaleBonusPercent                0
FemaleBonusPercent              0
MaleLowerQuartile               0
FemaleLowerQuartile             0
MaleLowerMiddleQuartile         0
FemaleLowerMiddleQuartile       0
MaleUpperMiddleQuartile         0
FemaleUpperMiddleQuartile       0
MaleTopQuartile                 0
FemaleTopQuartile               0
CompanyLinkToGPGInfo         2681
ResponsiblePerson            1669
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
dtype: int64

In [11]:
print(f"Duplicados: {g.duplicated().sum()}")

Duplicados: 0

In [12]:
g.head(50)

,EmployerName,Address,CompanyNumber,SicCodes,DiffMeanHourlyPercent,DiffMedianHourlyPercent,DiffMeanBonusPercent,DiffMedianBonusPercent,MaleBonusPercent,FemaleBonusPercent,...,FemaleLowerMiddleQuartile,MaleUpperMiddleQuartile,FemaleUpperMiddleQuartile,MaleTopQuartile,FemaleTopQuartile,CompanyLinkToGPGInfo,ResponsiblePerson,EmployerSize,CurrentName,SubmittedAfterTheDeadline
0,"""Bryanston School"",Incorporated","Bryanston House,\r\nBlandford,\r\nDorset,\r\nU...",00226143,85310,18.0,28.2,0.0,0.0,0.0,0.0,...,49.2,49.2,50.8,51.5,48.5,https://www.bryanston.co.uk/employment,Nick McRobb (Bursar and Clerk to the Governors),500 to 999,"""Bryanston School"",Incorporated",False
1,"""RED BAND"" CHEMICAL COMPANY, LIMITED","19, Smith's Place,\r\nLeith Walk,\r\nEdinburgh...",SC016876,47730,2.3,-2.7,15.0,37.5,15.6,66.7,...,74.6,10.3,89.7,18.1,81.9,NaN,Philip Galt (Managing Director),250 to 499,"""RED BAND"" CHEMICAL COMPANY, LIMITED",False
2,118 LIMITED,"Fusion Point,\r\nDumballs Road,\r\nCardiff,\r\...",03951948,61900,1.7,2.8,13.1,13.6,70.0,57.0,...,47.0,50.0,50.0,58.0,42.0,NaN,"Emma Crowe (VP, Human Resources)",500 to 999,118 LIMITED,False
3,1610 LIMITED,"Hestercombe House,\r\nCheddon Fitzpaine,\r\nTa...",06727055,93110,-22.0,-34.0,-47.0,-67.0,25.0,75.0,...,48.0,30.0,70.0,24.0,76.0,https://www.1610.org.uk/gender-pay-gap/,Tim Nightingale (CEO),250 to 499,1610 LIMITED,True
4,1879 EVENTS MANAGEMENT LIMITED,"The Sunderland Stadium Of Light,,\r\nSunderlan...",07743495,"56210,\r\n70229",13.4,8.1,41.4,43.7,8.7,3.2,...,50.6,22.8,77.2,58.2,41.8,https://www.safc.com/news/club-news/2018/march...,Jo Graham (Deputy HR Manager),250 to 499,1879 EVENTS MANAGEMENT LIMITED,False
5,1LIFE MANAGEMENT SOLUTIONS LIMITED,"Ldh House St Ives Business Park,\r\nParsons Gr...",02566586,"93110,\r\n93130,\r\n93290",15.1,2.8,77.6,71.2,5.8,4.2,...,54.8,46.8,53.2,35.5,64.5,http://www.1life.co.uk/gender-pay-gap,Mark Braithwaite (Managing Director),500 to 999,1LIFE MANAGEMENT SOLUTIONS LIMITED,False
6,1ST HOME CARE LTD.,"12b, Burnbank Road,\r\nFalkirk,\r\nFK2 7PE",SC272838,"86900,\r\n88100",15.0,0.0,0.0,0.0,0.0,0.0,...,91.0,10.0,90.0,9.0,91.0,https://www.1sthomecare.co.uk,John McDonald (Executive Director),250 to 499,1ST HOME CARE LTD.,False
7,1STOP HALAL LIMITED,"Colmore Court,\r\n9 Colmore Row,\r\nBirmingham...",08929070,56290,11.9,0.0,0.0,0.0,0.0,0.0,...,47.7,58.1,41.9,69.8,30.2,NaN,Stephen Elder (Finance Director),250 to 499,1STOP HALAL LIMITED,False
8,2 AGRICULTURE LIMITED,"Fairview Mill, Ingliston,\r\nNewbridge,\r\nMid...",SC156515,"1470,\r\n10910",13.4,8.5,62.9,0.0,89.7,73.3,...,4.7,98.5,1.5,93.8,6.2,http://www.2agriculture.com/,Gavin Berry (Managing Director),250 to 499,2 AGRICULTURE LIMITED,False
9,2 SISTERS FOOD GROUP LIMITED,"Trinity Park House Trinity Business Park, Fox ...",02826929,10120,15.3,6.9,55.5,1.6,5.6,5.1,...,32.4,66.2,33.8,73.7,26.3,https://www.2sfg.com/about-us/how-we-work/gender/,Nigel Perry (Group People & Change Director),"5000 to 19,999",2 SISTERS FOOD GROUP LIMITED,False
10,2 SISTERS POULTRY LIMITED,"George Street, Coupar Angus,\r\nBlairgowrie,\r...",SC440782,10120,4.9,4.8,39.8,0.0,22.2,12.4,...,31.5,68.5,31.5,72.4,27.6,https://www.2sfg.com/about-us/how-we-work/gender/,Nigel Perry (Group People & Change Director),1000 to 4999,2 SISTERS POULTRY LIMITED,False
11,2 SISTERS RED MEAT LIMITED,"George Street, Coupar Angus,\r\nBlairgowrie,\r...",SC440783,10110,14.5,12.7,0.0,0.0,0.0,0.0,...,20.4,83.0,17.0,89.7,10.3,https://www.2sfg.com/about-us/how-we-work/gender/,Nigel Perry (Group People & Change Director),1000 to 4999,2 SISTERS RED MEAT LIMITED,False
12,2 Touch Bpo Services Ltd,"- Lowton Way,\r\nHellaby,\r\nRotherham,\r\nSou...",08942815,82200,-0.2,-1.3,22.9,43.3,55.5,58.5,...,52.6,43.2,56.8,42.6,57.4,http://www.parseq.com/gender-pay-gap-reporting/,Robert Littlewood (Finance Director),1000 to 4999,2 Touch Bpo Services Ltd,False
13,23.5 DEGREES LIMITED,"Unit 3 Hedge End Retail Park, Charles Watts Wa...",08014079,56103,-2.0,-4.0,68.0,20.0,1.0,0.0,...,68.0,31.0,69.0,24.0,76.0,https://www.23-5degrees.com/gender-pay-gap,Luca Contardo (CFO),500 to 999,23.5 DEGREES LIMITED,True
14,24 X 7 Ltd.,"Magnolia Cottage Green Street,\r\nElsenham,\r\...",04142000,52290,0.8,0.0,0.0,0.0,0.0,0.0,...,60.4,42.7,57.3,39.6,60.4,NaN,Lauren Fairmaner (Accounts),500 to 999,24 X 7 Ltd.,False
15,2Gether N H S Foundation Trust,"Rikenel,\r\nMontpellier,\r\nGloucester,\r\nGlo...",NaN,"1,\r\n86210",20.8,16.1,15.1,41.5,60.0,46.0,...,81.9,21.8,78.2,34.6,65.4,https://www.2gether.nhs.uk/equality-and-divers...,NaN,1000 to 4999,2Gether N H S Foundation Trust,False
16,3 WAY CLEANING LIMITED,"Unit 7, Capstan Centre,\r\nThurrock Park Way,\...",03457928,81210,4.2,4.2,0.0,0.0,0.0,0.0,...,60.6,24.6,75.4,41.7,58.3,NaN,Anthony Webb (Director),250 to 499,3 WAY CLEANING LIMITED,True
17,3663 TRANSPORT LIMITED,"814 Leigh Road,\r\nSlough,\r\nEngland,\r\nSL1 4BD",00456846,52290,8.4,11.5,25.5,68.4,49.0,39.0,...,3.0,97.6,2.4,97.3,2.7,https://www.bidfood.co.uk/,Heather Angus (HR and Sustainabilty Director),1000 to 4999,3663 TRANSPORT LIMITED,False
18,3M UNITED KINGDOM PUBLIC LIMITED COMPANY,"3m, Centre, Cain Road,\r\nBracknell,\r\nBerksh...",01123045,"20301,\r\n23910,\r\n32990",14.0,8.0,49.0,36.0,30.0,24.0,...,37.0,65.0,35.0,75.0,25.0,https://www.3m.co.uk/3M/en_GB/careers/inclusion/,"Stella Hegarty (Director, Human Resources)",1000 to 4999,3M UNITED KINGDOM PUBLIC LIMITED COMPANY,False
19,5 HERTFORD STREET LIMITED,"10, Norwich Street,\r\nLondon,\r\nEC4A 1BD",06913368,82990,-8.0,-13.0,20.0,-18.0,84.0,82.0,...,22.0,67.0,33.0,76.0,24.0,https://www.5hertfordstreet.com/home/,Robin Birley (Chairman),250 to 499,5 HERTFORD STREET LIMITED,False
20,6Cats UK Ltd.,"1st Floor 1-3 Sun Street,\r\nLondon,\r\nEnglan...",07284675,70229,14.0,4.0,0.0,0.0,0.0,0.0,...,58.0,47.0,53.0,57.0,43.0,NaN,Kirsty Henning (Finance Director),250 to 499,6Cats UK Ltd.,False
21,7 Hills Leisure Trust,"Riverside East,\r\n2 Millsands,\r\nSheffield,\...",07923816,"93110,\r\n93290",-13.6,-15.7,-100.0,-100.0,0.0,3.7,...,46.9,46.9,53.1,34.2,65.8,NaN,Andrew Snelling (Chief Executive),250 to 499,7 Hills Leisure Trust,False
22,725 LIMITED,"48, High Street,\r\nGravesend,\r\nKent,\r\nEng...",05983359,"41100,\r\n78200",0.0,0.0,0.0,0.0,0.0,0.0,...,32.0,67.0,33.0,60.0,40.0,http://725ltd.co.uk/news/detail.php?id=26,BHISHAN KARKI (HEAD- FINANCE & COMPLIANCE),250 to 499,725 LIMITED,True
23,A PEARSON HOLDINGS LIMITED,"Enterprise House,\r\n97 Alderley Road,\r\nWilm...",06532691,70100,15.4,11.8,0.0,0.0,0.0,0.0,...,40.4,71.5,28.5,71.5,28.5,NaN,Nikki Anderson (HR Director),500 to 999,A PEARSON HOLDINGS LIMITED,False
24,A & L RESTAURANTS LIMITED,"THE ACCOUNTING CENTRE, FIRST FLOOR,\r\n736 Hig...",04437266,56290,4.9,0.8,48.5,80.0,13.3,19.9,...,72.0,50.0,50.0,59.3,40.7,NaN,Amir Atefi (Director),500 to 999,A & L RESTAURANTS LIMITED,False
25,A & P FALMOUTH LIMITED,"C/O A&P Tyne Limited,\r\nWagonway Road,\r\nHeb...",00103287,33150,34.0,29.0,0.0,0.0,0.0,0.0,...,1.4,98.6,1.4,98.6,1.4,http://www.ap-group.co.uk,Ian Carey (Group Finance Director),250 to 499,A & P FALMOUTH LIMITED,False
26,A & S Restaurants Ltd,"206 Hurley Common,\r\nHurley,\r\nAtherstone,\r...",04289561,56102,-3.0,-1.0,-6.0,-20.0,8.0,7.0,...,50.0,39.0,61.0,50.0,50.0,NaN,AFIA SIRKHOT (MANAGING DIRECTOR),500 to 999,A & S Restaurants Ltd,False
27,A F A RESTAURANTS LIMITED,"736, High Road,\r\nNorth Finchley,\r\nLondon,\...",08345484,47290,2.5,0.3,-9.0,-8.4,5.6,4.3,...,54.7,51.7,48.3,62.6,37.4,NaN,Jackie Farquhar (Business Administrator),500 to 999,A F A RESTAURANTS LIMITED,False
28,A GOMEZ LIMITED,"Coldharbour Lane,\r\nBridge,\r\nCanterbury,\r\...",02446884,46310,10.3,0.0,66.7,0.0,36.7,40.7,...,58.0,58.5,41.5,65.3,34.7,http://www.agomez.co.uk/,Simon Gretton (Chief Finance Officer),500 to 999,A GOMEZ LIMITED,False
29,A J W AVIATION LTD,"The Headquarters Maydwell Avenue, Slinfold,\r\...",06865953,52230,13.7,0.1,12.9,-12.9,64.6,68.7,...,33.9,70.2,29.8,68.5,31.5,https://www.ajw-group.com/storage/downloads/15...,Kellie Plummer (Head of HR),250 to 499,A J W AVIATION LTD,False
30,A KHAN RESTAURANTS LIMITED,"2nd Floor Bradburn House,\r\n64-68 Northumberl...",08132730,56103,-2.0,-1.0,35.0,28.0,1.0,2.0,...,49.0,45.0,55.0,51.0,49.0,NaN,Ahmed Khan (Franchisee),250 to 499,A KHAN RESTAURANTS LIMITED,False
31,A M SUPPORT SERVICES LIMITED,"Unit A, 8 Penrod Way,\r\nHeysham,\r\nLancashir...",04788424,81299,3.0,2.0,78.9,88.9,10.0,4.0,...,47.5,63.0,37.0,65.8,34.2,NaN,Emma Hutchinson (HR Manager),500 to 999,A M SUPPORT SERVICES LIMITED,False
32,A Novo UK Ltd,"Communications House,\r\nVulcan Road North,\r\...",03591124,95210,21.7,11.4,76.7,-0.8,12.9,4.2,...,43.7,67.8,32.2,82.6,17.4,NaN,Kevin Coleman (Director - Commerce & Lifecycle...,250 to 499,A Novo UK Ltd,False
33,A P Security (Aps) Ltd,"71-75 Shelton Street,\r\nLondon,\r\nUnited Kin...",04926952,82990,2.6,0.0,0.0,0.0,0.0,0.0,...,28.1,77.0,23.0,85.0,15.0,NaN,SHILA SHAH (PAYROLL OFFICER),500 to 999,A P Security (Aps) Ltd,False
34,A W JENKINSON TRANSPORT LIMITED,"Clifton Moor,\r\nClifton,\r\nPenrith,\r\nCumbr...",08683274,49410,16.2,16.5,0.0,0.0,0.0,0.0,...,0.7,99.3,0.7,97.8,2.2,NaN,David Lindop (Director),500 to 999,A W JENKINSON TRANSPORT LIMITED,False
35,A. & B. GLASS COMPANY LIMITED,"Addison Road,\r\nChilton Industrial Estate,\r\...",01543721,43342,17.0,0.0,64.0,74.0,67.0,38.0,...,21.0,97.0,3.0,87.0,13.0,NaN,Paul McManus (Group Financial Director),250 to 499,A. & B. GLASS COMPANY LIMITED,False
36,A. SHARE & SONS LIMITED,"45-49 , Villiers Street,\r\nSunderland,\r\nSR1...",00323778,"47530,\r\n47599",28.0,29.0,45.0,78.0,89.0,76.0,...,32.0,78.0,22.0,84.0,16.0,http://www.scsplc.co.uk/corporate-governance/g...,Marie Liston (Corporate Services Director),1000 to 4999,A. SHARE & SONS LIMITED,False
37,A.B. HOTELS LIMITED,"50-60 Great Cumberland Place,\r\nLondon,\r\nUn...",01467761,55100,5.4,-5.3,-34.9,-50.5,8.8,7.0,...,53.4,35.6,64.4,56.2,43.8,http://www.abhotels.co.uk/GenderPayReport,Rafael Bejerano (Director),250 to 499,A.B. HOTELS LIMITED,False
38,A.B.M. CATERING LIMITED,"Eagle Court,\r\n63-67 Saltisford,\r\nWarwick,\...",04168334,"56290,\r\n70100",25.7,25.0,-25.1,72.1,4.9,2.3,...,95.6,14.8,85.2,42.3,57.7,NaN,Sue Hill (Finance & HR Director - Operations),500 to 999,A.B.M. CATERING LIMITED,False
39,A.C. NIELSEN COMPANY LIMITED,"Ac Nielsen House,\r\nLondon Road Headington,\r...",03263498,73200,12.4,6.2,33.6,33.4,65.0,64.0,...,53.0,50.0,50.0,58.0,42.0,http://www.nielsen.com/uk/en/press-room/2018/g...,Cathy Earle (HR Director UK & Ireland),500 to 999,A.C. NIELSEN COMPANY LIMITED,False
40,A.CLARKE & CO.(SMETHWICK)LIMITED,"PO BOX 9837 Station Road,\r\nOldbury,\r\nWest ...",00580331,49410,3.7,20.1,96.4,0.0,75.5,84.5,...,12.1,98.1,1.9,89.8,10.2,https://www.clarketransport.co.uk,Bill Clarke (Commercial Director),250 to 499,A.CLARKE & CO.(SMETHWICK)LIMITED,False
41,A.F.BLAKEMORE AND SON LIMITED,"Long Acres Ind Est,\r\nRosehill,\r\nWillenhall...",00391135,46390,21.2,9.2,42.8,38.8,34.2,8.3,...,71.0,62.0,38.0,74.0,26.0,http://www.afblakemore.com/about-us/gender-pay...,Ian Diment (Group HR Director),"5000 to 19,999",A.F.BLAKEMORE AND SON LIMITED,False
42,A.G. BARR P.L.C.,"Westfield House,\r\n4 Mollins Road,\r\nCumbern...",SC005653,11070,12.0,3.4,61.9,34.2,27.5,16.7,...,31.7,80.1,19.9,69.5,30.5,https://www.agbarr.co.uk/responsibility/our-pe...,Doug Brown (Head of Human Resources),500 to 999,A.G. BARR P.L.C.,False
43,A.G. PARFETT & SONS LIMITED,"Didsbury Road,\r\nStockport,\r\nCheshire,\r\nU...",01472970,46390,12.0,0.0,22.0,19.9,75.5,84.8,...,39.0,68.0,32.0,72.0,28.0,http://www.parfetts.co.uk,David Grimes (Joint Managing Director),500 to 999,A.G. PARFETT & SONS LIMITED,False
44,A.G.A.I. & CO LIMITED,"146, New London Road,\r\nChelmsford,\r\nEssex,...",07160851,56101,2.0,-16.0,57.0,34.0,16.0,13.0,...,46.0,49.0,51.0,49.0,51.0,NaN,Gen Isikgun (Franchisee),250 to 499,A.G.A.I. & CO LIMITED,False
45,A.J.N. STEELSTOCK LTD.,"Icknield Way, Kentford,\r\nNewmarket,\r\nSuffo...",00689647,46720,16.7,-9.5,2.3,-124.0,65.4,55.9,...,1.4,88.4,11.6,84.3,15.7,https://www.ajnsteelstock.co.uk/wp-content/upl...,Courtney Bell (Finance Director),250 to 499,A.J.N. STEELSTOCK LTD.,False
46,A.W. & D. HAMMOND LIMITED,"Norwich Road, Halesworth,\r\nSuffolk,\r\nIP19 8BU",00989239,"45111,\r\n45112,\r\n45200,\r\n45310",26.6,32.0,0.0,0.0,0.0,0.0,...,0.0,100.0,0.0,100.0,0.0,NaN,Victor Maycock (HR Manager),250 to 499,A.W. & D. HAMMOND LIMITED,False
47,A24 GROUP LIMITED,"92-96 Lind Road,\r\nSutton,\r\nSurrey,\r\nUnit...",03262419,78200,-11.0,-13.0,-36.0,-55.0,3.0,2.0,...,65.0,31.0,69.0,23.0,77.0,NaN,Charles Rees (Finance Director),1000 to 4999,A24 GROUP LIMITED,False
48,A2DOMINION HOUSING GROUP LIMITED,"The Point,\r\n37 North Wharf Road,\r\nLondon,\...",IP28985R,NaN,26.0,20.0,50.0,0.0,74.0,76.0,...,67.0,42.0,58.0,54.0,46.0,https://www.a2dominiongroup.co.uk/about/report...,Darrell Mercer (Group Chief Executive),500 to 999,A2DOMINION HOUSING GROUP LIMITED,False
49,A3D2 LIMITED,"NOVUS LEISURE LIMITED,\r\nThird Floor, Clarevi...",03506401,56301,-5.0,-7.0,-42.0,-110.0,24.0,32.0,...,33.0,59.0,41.0,47.0,53.0,NaN,Sarah Miller (Operations Director),Not Provided,A3D2 LIMITED,False

In [14]:
g.columns

Index(['EmployerName', 'Address', 'CompanyNumber', 'SicCodes',
       'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent',
       'DiffMeanBonusPercent', 'DiffMedianBonusPercent', 'MaleBonusPercent',
       'FemaleBonusPercent', 'MaleLowerQuartile', 'FemaleLowerQuartile',
       'MaleLowerMiddleQuartile', 'FemaleLowerMiddleQuartile',
       'MaleUpperMiddleQuartile', 'FemaleUpperMiddleQuartile',
       'MaleTopQuartile', 'FemaleTopQuartile', 'CompanyLinkToGPGInfo',
       'ResponsiblePerson', 'EmployerSize', 'CurrentName',
       'SubmittedAfterTheDeadline'],
      dtype='object')