In [1]:
import pandas as pd
import numpy as np

In [2]:
g=pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets/187/404/inc_occ_gender.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20241203%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20241203T165907Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=29be008770b2b11411198622f0c5b9f8302f3bb46dbcf6020d5e1fb8a74e31145213a6df347509d4a3dc6e54f923500d5dfa78ed508f08ce895cea779517a25b36e2428990956c64d5b9861b9747a8d082fde297006f4fa51b462127de05eee6839993fd2114d2541f9143338b67ce2199b3b2dbe44ac40eb9338b4112b59d497fe2eb85956abf80a8328fd75475a3bb6413dba58a844a8c7ee895c9cd18076ff38cb5d46ca3676afb9475ce3f7b606b4de26521de2e96112c3eea7b895991a927fb462e89d09d6853227bcd6a59c312692460c6cad65766abd3126e44ad3ca0718a21f0a4141131ddbd2eacb93790f7e86daa4f990d6fc4ddc02485f9c8f92f')

In [3]:
g

,Occupation,All_workers,All_weekly,M_workers,M_weekly,F_workers,F_weekly
0,ALL OCCUPATIONS,109080,809,60746,895,48334,726
1,MANAGEMENT,12480,1351,7332,1486,5147,1139
2,Chief executives,1046,2041,763,2251,283,1836
3,General and operations managers,823,1260,621,1347,202,1002
4,Legislators,8,Na,5,Na,4,Na
...,...,...,...,...,...,...,...
553,Pumping station operators,18,Na,17,Na,1,Na
554,Refuse and recyclable material collectors,72,501,66,496,6,Na
555,Mine shuttle car operators,0,Na,0,Na,0,Na
556,"Tank car, truck, and ship loaders",6,Na,6,Na,0,Na
557,"Material moving workers, all other",37,Na,32,Na,5,Na

In [4]:
g.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Occupation   558 non-null    object
 1   All_workers  558 non-null    int64
 2   All_weekly   558 non-null    object
 3   M_workers    558 non-null    int64
 4   M_weekly     558 non-null    object
 5   F_workers    558 non-null    int64
 6   F_weekly     558 non-null    object
dtypes: int64(3), object(4)
memory usage: 30.6+ KB

In [6]:
g.columns

Index(['Occupation', 'All_workers', 'All_weekly', 'M_workers', 'M_weekly',
       'F_workers', 'F_weekly'],
      dtype='object')

In [9]:
g.index

RangeIndex(start=0, stop=558, step=1)

## Acerca del conjunto de datos
Mucha gente dice que la brecha de género en los niveles de ingresos está exagerada en los Estados Unidos, donde algunos dicen que la desigualdad en la fuerza laboral es cosa del pasado. ¿Hay alguna brecha de género? ¿Es más fuerte en algunas industrias que en otras?

Este conjunto de datos, recuperado de la Oficina de Estadísticas Laborales, muestra los ingresos semanales medios para 535 ocupaciones diferentes. Los datos abarcan información para todos los ciudadanos estadounidenses que trabajan a partir de enero de 2015. Los ingresos se dividen en estadísticas masculinas y femeninas, precedidas por el ingreso medio total cuando se incluyen ambos géneros. Los datos se han reformateado a partir de la disposición original compatible con PDF para facilitar su limpieza y análisis.

El análisis hasta ahora ha encontrado que, de hecho, existe una considerable brecha de género entre los ingresos masculinos y femeninos. El uso de este conjunto de datos debe citar a la Oficina de Estadísticas Laborales según su información de derechos de autor:

La Oficina de Estadísticas Laborales (BLS) es una agencia del gobierno federal y todo lo que publicamos, tanto en copia impresa como electrónicamente, es de dominio público, excepto las fotografías e ilustraciones previamente protegidas por derechos de autor. Usted es libre de usar nuestro material de dominio público sin permiso específico, aunque le pedimos que cite la Oficina de Estadísticas Laborales como fuente.