In [7]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(
    {'nombres':['Juan', 'Ronald', 'Carla','Nuria','Jose','Deni',None],
     'edades':[35,36,28,19,25,'No te lo digo',None],
     'dinero':[1_000,5_000,500,1_000_000,'anda a lavarte','casi un millon',None],
     'soy Nuria':[False,False,False,True,False,False,None],
     'id':[1,2,3,4,5,6,7]}
    )
df

  nombres         edades          dinero soy Nuria  id
0    Juan             35            1000     False   1
1  Ronald             36            5000     False   2
2   Carla             28             500     False   3
3   Nuria             19         1000000      True   4
4    Jose             25  anda a lavarte     False   5
5    Deni  No te lo digo  casi un millon     False   6
6    None           None            None      None   7

## Analizar los datos

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nombres    6 non-null      object
 1   edades     6 non-null      object
 2   dinero     6 non-null      object
 3   soy Nuria  6 non-null      object
 4   id         7 non-null      int64
dtypes: int64(1), object(4)
memory usage: 412.0+ bytes

In [32]:
df.describe()

             id
count  7.000000
mean   4.000000
std    2.160247
min    1.000000
25%    2.500000
50%    4.000000
75%    5.500000
max    7.000000

In [33]:
df.describe(include="object")

       nombres  edades  dinero soy Nuria
count        6       6       6         6
unique       6       6       6         2
top       Juan      35    1000     False
freq         1       1       1         5

In [34]:
df.size

35

In [35]:
df.columns

Index(['nombres', 'edades', 'dinero', 'soy Nuria', 'id'], dtype='object')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nombres    6 non-null      object
 1   edades     6 non-null      object
 2   dinero     6 non-null      object
 3   soy Nuria  6 non-null      object
 4   id         7 non-null      int64
dtypes: int64(1), object(4)
memory usage: 412.0+ bytes

esto sorve para el proyecto final para analisis de cardinalidad

In [37]:
df['id'] =df['id'].astype('int32')

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   nombres    6 non-null      object
 1   edades     6 non-null      object
 2   dinero     6 non-null      object
 3   soy Nuria  6 non-null      object
 4   id         7 non-null      int32
dtypes: int32(1), object(4)
memory usage: 384.0+ bytes

In [39]:
df['dinero']=df['dinero'].astype('int')

ValueError: invalid literal for int() with base 10: 'anda a lavarte'

In [20]:
df['soy Nuria']=df['soy Nuria'].astype('Int32') #la I mayuscula cuando tienes na lo respeta de la otra forma lo convierte en none

astype sirve para cambiar los tipos de datos pero hay que saber porque cambiarlos

In [22]:
df

  nombres         edades          dinero  soy Nuria id
0    Juan             35            1000          0  1
1  Ronald             36            5000          0  2
2   Carla             28             500          0  3
3   Nuria             19         1000000          1  4
4    Jose             25  anda a lavarte          0  5
5    Deni  No te lo digo  casi un millon          0  6
6    None           None            None          0  7

In [13]:
df['edades']=df['edades'].astype('int8')

ValueError: invalid literal for int() with base 10: 'No te lo digo'

para cambiar bien los tipos de datos se hara de la siguiente forma
se quiere rellenar los valores vacios

In [13]:
df['dinero']=df['dinero'].apply(lambda x: 999_999 if x=='casi un millon' else (np.nan if x =='anda a lavarte' else x))
df

  nombres         edades     dinero soy Nuria  id
0    Juan             35     1000.0     False   1
1  Ronald             36     5000.0     False   2
2   Carla             28      500.0     False   3
3   Nuria             19  1000000.0      True   4
4    Jose             25        NaN     False   5
5    Deni  No te lo digo   999999.0     False   6
6    None           None        NaN      None   7

depende de lo dificil o facil que sea se utiliza lambda aque ocupa menos memoria o con una funcion y aplicandolo, ocupa mas pero a aveces es mas sencillo

In [12]:
df.loc[4,'dinero']=np.nan
df.loc[5,'dinero']=999_999

In [20]:
df['edades'].replace('No te lo digo'==np.nan) #da un future warning asi que tampoco es muy

/var/folders/pq/mppvlq_j3_7b5gpr_bpc5khm0000gn/T/ipykernel_3009/2750236725.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df['edades'].replace('No te lo digo'==np.nan) #da un future warning asi que tampoco es muy

0               35
1               36
2               28
3               19
4               25
5    No te lo digo
6             None
Name: edades, dtype: object

In [22]:
df

  nombres         edades     dinero soy Nuria  id
0    Juan             35     1000.0     False   1
1  Ronald             36     5000.0     False   2
2   Carla             28      500.0     False   3
3   Nuria             19  1000000.0      True   4
4    Jose             25        NaN     False   5
5    Deni  No te lo digo   999999.0     False   6
6    None           None        NaN      None   7

ahora empieza el analisis cardinalidad

In [23]:
df.isnull().sum()/len(df)*100

nombres      14.285714
edades       14.285714
dinero       28.571429
soy Nuria    14.285714
id            0.000000
dtype: float64

esto es importante porque si tienes una columna que el faltan muchos datos no te sirven, en este caso no es asi

calcular datos variables?

la cardinalidad es la division de los uncos entre el numero de valores

In [32]:
(len((df['nombres'].unique())/len(df)))*100

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [25]:
for i in df: #conteo de unicos hay algunas variables que no sirve por ejemplo el id porque ya a a ser unico de por si 
    print(df[i].value_counts())

nombres
Juan      1
Ronald    1
Carla     1
Nuria     1
Jose      1
Deni      1
Name: count, dtype: int64
edades
35               1
36               1
28               1
19               1
25               1
No te lo digo    1
Name: count, dtype: int64
dinero
1000.0       1
5000.0       1
500.0        1
1000000.0    1
999999.0     1
Name: count, dtype: int64
soy Nuria
False    5
True     1
Name: count, dtype: int64
id
1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: count, dtype: int64