# Ex - GroupBy

### Paso 1. Importar librerias

In [2]:
import numpy as np
import pandas as pd

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

In [3]:
ruta='/Users/isaromobru/Desktop/DS102024_/2-DataAnalysis/2-Pandas/Practica/5-Alcohol_Consumption/drinks.csv'

### Paso 3. Asígnalo a una variable llamada bebidas.

In [4]:
bebidas=pd.read_csv(ruta)
bebidas.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Paso 4. ¿Qué continente bebe más cerveza por término medio?

In [15]:
cerveza=bebidas[['continent','beer_servings']]
cerveza.groupby('continent').mean()

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

In [8]:
bebidas[['continent','beer_servings']].groupby('continent').mean().sort_values('beer_servings',ascending=False)

           beer_servings
continent
EU            193.777778
SA            175.083333
OC             89.687500
AF             61.471698
AS             37.045455

In [17]:
print("Europa es el pais que mas consume cerveza de media")

Europa es el pais que mas consume cerveza de media

In [13]:
bebidas['continent'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
188    False
189    False
190    False
191    False
192    False
Name: continent, Length: 193, dtype: bool

In [17]:
bebidas['continent'].fillna('Na'=='NA')

0      AS
1      EU
2      AF
3      EU
4      AF
       ..
188    SA
189    AS
190    AS
191    AF
192    AF
Name: continent, Length: 193, dtype: object

### Paso 5. Para cada continente, imprima las estadísticas de consumo de vino.

In [15]:
bebidas.groupby('continent')[['wine_servings','continent']].describe()

          wine_servings                                                   \
                  count        mean        std  min   25%    50%     75%
continent
AF                 53.0   16.264151  38.846419  0.0   1.0    2.0   13.00
AS                 44.0    9.068182  21.667034  0.0   0.0    1.0    8.00
EU                 45.0  142.222222  97.421738  0.0  59.0  128.0  195.00
OC                 16.0   35.625000  64.555790  0.0   1.0    8.5   23.25
SA                 12.0   62.416667  88.620189  1.0   3.0   12.0   98.50


             max
continent
AF         233.0
AS         123.0
EU         370.0
OC         212.0
SA         221.0

### Paso 6. Imprime la media de consumo de alcohol por continente para cada columna

In [20]:
bebidas.groupby('continent').mean(numeric_only=True)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Paso 7. Imprime la mediana de consumo de alcohol por continente para cada columna

In [19]:
bebidas.groupby('continent').median(numeric_only=True)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Paso 8. Imprima los valores medio, mínimo y máximo de consumo de alcohol por continente.

In [26]:
bebidas.groupby('continent').describe()

          total_litres_of_pure_alcohol                                        \
                                 count      mean       std  min   25%    50%
continent
AF                                53.0  3.007547  2.647557  0.0  0.70   2.30
AS                                44.0  2.170455  2.770239  0.0  0.10   1.20
EU                                45.0  8.617778  3.358455  0.0  6.60  10.00
OC                                16.0  3.381250  3.345688  0.0  1.00   1.75
SA                                12.0  6.308333  1.531166  3.8  5.25   6.85


              75%   max
continent
AF          4.700   9.1
AS          2.425  11.5
EU         10.900  14.4
OC          6.150  10.4
SA          7.375   8.3

In [27]:
bebidas.groupby('continent')[['total_litres_of_pure_alcohol']].agg("max","min")

           total_litres_of_pure_alcohol
continent
AF                                  9.1
AS                                 11.5
EU                                 14.4
OC                                 10.4
SA                                  8.3