# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [2]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [3]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [4]:
chipo=pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# Nombre del producto de valor máximo

In [5]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [11]:
#ejercicio resuelto 
chipo['item_price']=chipo['item_price'].str.replace('$','')
chipo['item_price']=chipo['item_price'].str.strip().astype('float')
cual=chipo.groupby('item_name')[['item_price','quantity']].max()

cual[cual['quantity']==1].sort_values('item_price',ascending=False).head(1)

AttributeError: Can only use .str accessor with string values!

In [5]:
preciomaximo=chipo['item_price'].max()
mascaro=chipo[chipo['item_price']==preciomaximo]
print(mascaro)

      order_id  quantity            item_name  \
607        250         1     Steak Salad Bowl
1418       576         1  Barbacoa Salad Bowl
1421       576         1  Barbacoa Salad Bowl
1825       738         1  Barbacoa Salad Bowl
1865       756         1  Carnitas Salad Bowl
2600      1032         1     Steak Salad Bowl
2624      1042         1     Steak Salad Bowl
3098      1235         1     Steak Salad Bowl
3115      1243         1  Carnitas Salad Bowl
3356      1346         1  Barbacoa Salad Bowl
4036      1615         1     Steak Salad Bowl
4241      1693         1     Steak Salad Bowl
4390      1751         1  Barbacoa Salad Bowl
4391      1752         1     Steak Salad Bowl
4419      1762         1     Steak Salad Bowl
4547      1807         1     Steak Salad Bowl
4572      1818         1     Steak Salad Bowl

                                     choice_description item_price
607                       [Fresh Tomato Salsa, Lettuce]     $9.39
1418                         [Roasted Chili Corn Salsa]     $9.39
1421                         [Roasted Chili Corn Salsa]     $9.39
1825  [Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...     $9.39
1865   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $9.39
2600  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $9.39
2624  [Fresh Tomato Salsa, [Black Beans, Sour Cream,...     $9.39
3098  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $9.39
3115  [Tomatillo Green Chili Salsa, [Rice, Pinto Bea...     $9.39
3356  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $9.39
4036  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $9.39
4241  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $9.39
4390  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $9.39
4391  [Fresh Tomato Salsa, [Black Beans, Pinto Beans...     $9.39
4419  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $9.39
4547  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $9.39
4572  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $9.39

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [6]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [7]:
chipo['item_price']=chipo['item_price'].apply(lambda x: float(x.replace('$','')))

In [12]:
mas_10=chipo[chipo['item_price']>10].nunique()
print(mas_10)

order_id              863
quantity                8
item_name              31
choice_description    492
item_price             35
dtype: int64

In [13]:
chipo.query('item_price_unit>10')['item_name'].nunique()

UndefinedVariableError: name 'item_price_unit' is not defined

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [14]:
chipo[['item_price','item_name']].groupby('item_name').mean()

                                       item_price
item_name
6 Pack Soft Drink                        6.610185
Barbacoa Bowl                           10.187273
Barbacoa Burrito                         9.832418
Barbacoa Crispy Tacos                   10.928182
Barbacoa Salad Bowl                     10.640000
Barbacoa Soft Tacos                     10.018400
Bottled Water                            1.867654
Bowl                                    14.800000
Burrito                                  7.400000
Canned Soda                              1.320577
Canned Soft Drink                        1.457641
Carnitas Bowl                           10.833971
Carnitas Burrito                        10.132712
Carnitas Crispy Tacos                   11.137143
Carnitas Salad                           8.990000
Carnitas Salad Bowl                     11.056667
Carnitas Soft Tacos                      9.398500
Chicken Bowl                            10.113953
Chicken Burrito                         10.082857
Chicken Crispy Tacos                    10.045319
Chicken Salad                            9.010000
Chicken Salad Bowl                      11.170455
Chicken Soft Tacos                       9.635565
Chips                                    2.342844
Chips and Fresh Tomato Salsa             3.285091
Chips and Guacamole                      4.595073
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Roasted Chili Corn Salsa       3.084091
Chips and Roasted Chili-Corn Salsa       2.390000
Chips and Tomatillo Green Chili Salsa    3.087209
Chips and Tomatillo Red Chili Salsa      3.072917
Chips and Tomatillo-Green Chili Salsa    2.544194
Chips and Tomatillo-Red Chili Salsa      2.987500
Crispy Tacos                             7.400000
Izze                                     3.390000
Nantucket Nectar                         3.641111
Salad                                    7.400000
Side of Chips                            1.840594
Steak Bowl                              10.711801
Steak Burrito                           10.465842
Steak Crispy Tacos                      10.209714
Steak Salad                              8.915000
Steak Salad Bowl                        11.847931
Steak Soft Tacos                         9.746364
Veggie Bowl                             10.211647
Veggie Burrito                           9.839684
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Veggie Salad Bowl                       10.138889
Veggie Soft Tacos                       10.565714

In [9]:
chipo2= pd.DataFrame(chipo, columns=['item_name','item_price'])
chipo2.rename(columns={'item_name':'nombre_articulo','item_price':'precio_articulo'})

                            nombre_articulo  precio_articulo
0              Chips and Fresh Tomato Salsa             2.39
1                                      Izze             3.39
2                          Nantucket Nectar             3.39
3     Chips and Tomatillo-Green Chili Salsa             2.39
4                              Chicken Bowl            16.98
...                                     ...              ...
4617                          Steak Burrito            11.75
4618                          Steak Burrito            11.75
4619                     Chicken Salad Bowl            11.25
4620                     Chicken Salad Bowl             8.75
4621                     Chicken Salad Bowl             8.75

[4622 rows x 2 columns]

### Paso 6. Ordenar por el nombre del artículo

In [16]:
chipo3=chipo.sort_values(by='item_name',ascending=True)
chipo3

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [18]:
chipo.loc[chipo['item_price'].idxmax(), 'quantity']

np.int64(15)

In [12]:
chipo.loc[chipo['item_price_unit'].apply(lambda x: x == chipo['item_price'].max()), 'quantity'].values[0]

np.int64(15)

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

In [13]:
chipo.loc[chipo['item_name'].apply(lambda x: x =='Veggie Salad Bowl'),'quantity'].sum()

np.int64(18)

In [ ]:
chipo[chipo['item_name']=='Veggie Salad Bowl'].

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?

In [23]:
chipo.query("item_name=='Canned Soda' & quantity>1")

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

In [36]:
chipo[(chipo['item_name']=='Canned Soda')& (chipo['quantity']>1)]

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18