# Ex1 - Filtrar y ordenar datos

### Paso 1. Importar las bibliotecas necesarias

In [1]:
import pandas as pd
import numpy as np

### Paso 2. Importar el conjunto de datos de esta [dirección](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [14]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

### Paso 3. Asígnalo a una variable llamada chipo.

In [18]:
chipo=pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

# Nombre del producto de valor máximo

In [30]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [36]:
preciomaximo=chipo['item_price'].max()
mascaro=chipo[chipo['item_price']==preciomaximo]
print(mascaro)

      order_id  quantity            item_name  \
607        250         1     Steak Salad Bowl
1418       576         1  Barbacoa Salad Bowl
1421       576         1  Barbacoa Salad Bowl
1825       738         1  Barbacoa Salad Bowl
1865       756         1  Carnitas Salad Bowl
2600      1032         1     Steak Salad Bowl
2624      1042         1     Steak Salad Bowl
3098      1235         1     Steak Salad Bowl
3115      1243         1  Carnitas Salad Bowl
3356      1346         1  Barbacoa Salad Bowl
4036      1615         1     Steak Salad Bowl
4241      1693         1     Steak Salad Bowl
4390      1751         1  Barbacoa Salad Bowl
4391      1752         1     Steak Salad Bowl
4419      1762         1     Steak Salad Bowl
4547      1807         1     Steak Salad Bowl
4572      1818         1     Steak Salad Bowl

                                     choice_description item_price
607                       [Fresh Tomato Salsa, Lettuce]     $9.39
1418                         [Roasted Chili Corn Salsa]     $9.39
1421                         [Roasted Chili Corn Salsa]     $9.39
1825  [Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...     $9.39
1865   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $9.39
2600  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $9.39
2624  [Fresh Tomato Salsa, [Black Beans, Sour Cream,...     $9.39
3098  [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $9.39
3115  [Tomatillo Green Chili Salsa, [Rice, Pinto Bea...     $9.39
3356  [Fresh Tomato Salsa, [Rice, Black Beans, Chees...     $9.39
4036  [Fresh Tomato Salsa, [Fajita Vegetables, Chees...     $9.39
4241  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $9.39
4390  [Tomatillo Green Chili Salsa, [Fajita Vegetabl...     $9.39
4391  [Fresh Tomato Salsa, [Black Beans, Pinto Beans...     $9.39
4419  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $9.39
4547  [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $9.39
4572  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $9.39

### Paso 4. ¿Cuántos productos cuestan más de 10,00 dólares?

In [41]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [42]:
chipo['item_price']=chipo['item_price'].apply(lambda x: float(x.replace('$','')))

In [45]:
mas_10=chipo[chipo['item_price']>10]
print(mas_10)

      order_id  quantity           item_name  \
4            2         2        Chicken Bowl
5            3         1        Chicken Bowl
7            4         1       Steak Burrito
13           7         1        Chicken Bowl
23          12         1     Chicken Burrito
...        ...       ...                 ...
4610      1830         1       Steak Burrito
4611      1830         1      Veggie Burrito
4617      1833         1       Steak Burrito
4618      1833         1       Steak Burrito
4619      1834         1  Chicken Salad Bowl

                                     choice_description  item_price
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
5     [Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...       10.98
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...       11.75
13    [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...       11.25
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...       10.98
...                                                 ...         ...
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...       11.25
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25

[1130 rows x 5 columns]

### Paso 5. ¿Cuál es el precio de cada artículo?
###### imprimir un marco de datos con sólo dos columnas nombre_artículo y precio_artículo

In [63]:
chipo2= pd.DataFrame(chipo, columns=['item_name','item_price'])
chipo2.rename(columns={'item_name':'nombre_articulo','item_price':'precio_articulo'})

                            nombre_articulo  precio_articulo
0              Chips and Fresh Tomato Salsa             2.39
1                                      Izze             3.39
2                          Nantucket Nectar             3.39
3     Chips and Tomatillo-Green Chili Salsa             2.39
4                              Chicken Bowl            16.98
...                                     ...              ...
4617                          Steak Burrito            11.75
4618                          Steak Burrito            11.75
4619                     Chicken Salad Bowl            11.25
4620                     Chicken Salad Bowl             8.75
4621                     Chicken Salad Bowl             8.75

[4622 rows x 2 columns]

### Paso 6. Ordenar por el nombre del artículo

### Paso 7. ¿Cuál fue la cantidad pedida del artículo más caro? 2 formas

In [65]:
chipo.info

<bound method DataFrame.info of       order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
4            2         2                           Chicken Bowl
...        ...       ...                                    ...
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description  item_price
0                                                   NaN        2.39
1                                          [Clementine]        3.39
2                                               [Apple]        3.39
3                                                   NaN        2.39
4     [Tomatillo-Red Chili Salsa (Hot), [Black Beans...       16.98
...                                                 ...         ...
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...       11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...       11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...       11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...        8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...        8.75

[4622 rows x 5 columns]>

In [66]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Paso 8. ¿Cuántas veces pidió ensalada de verduras?

0                Chips and Fresh Tomato Salsa
1                                        Izze
2                            Nantucket Nectar
3       Chips and Tomatillo-Green Chili Salsa
4                                Chicken Bowl
                        ...
4617                            Steak Burrito
4618                            Steak Burrito
4619                       Chicken Salad Bowl
4620                       Chicken Salad Bowl
4621                       Chicken Salad Bowl
Name: item_name, Length: 4622, dtype: object

### Paso 9. ¿Cuántas veces pidió alguien más de un refresco en lata?